In [1]:
# A summation problem in SymPy.

I don't

SyntaxError: unterminated string literal (detected at line 3) (1309373555.py, line 3)

We have the following problem to solve:

-----

![problem](../../images/test_first_summation_problem.png)

Here's how the graph of the function looks over this interval:

![graph of function size=50%](../../images/test_first_summations_graph.png)

The function is descending.

In [ ]:
f = 6 - 2*x

In [ ]:
integrate(f, (x,1,2))

In [ ]:
def fn(x):
    return 6 - 2*x

In [ ]:
def fn2(z):
    return 4*z + 5

#fn2a = sympify(str(fn2))
summation(4*x + 5, (x, 1, 3))

In [ ]:
summation(6 - 2*x, (x, 1, 5))

In [ ]:
f

In [ ]:
integrate(f)

In [ ]:
integrate(f, (x, 10, 200))

In [ ]:
f = -1/2 * (1/x**4)

In [ ]:
diff(f)

In [ ]:
f = 1/(-3*x**6)

In [ ]:
diff(f)